.backgroud {
  background-image: url("../../../assets/images/Abstract-blue-background.jpg");
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  transform: translateX(-50%) translateY(-50%);
  top: 50%;
  left: 50%;
  position: absolute;
}

.card-style {
  background-color: rgb(255, 255, 255);
  align-items: center;
  position: relative;
  top: 15%;
  z-index: 100;
  justify-content: space-between;
}

.icon-style {
  width: 20vw;
  height: 10vh;
  object-fit: fill;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.title-style {
  color: #6FA3FF;
}
