<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Products
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <div class="d-flex justify-content-right">
      <ion-button size="small">Add Product</ion-button>
    </div>
    <ion-row *ngFor="let product of products">
      <div class="table">
        <ion-col>
          <h3 class="text">{{product.name}}</h3>
          <div class="row">
            <p class="ml-5"><b>Price:</b> {{product.price}}</p>
            <p class="ml-5"><b>Amount:</b> {{product.amount}}</p>
            <p class="ml-5"><b>Threshold:</b> {{product.threshold}}</p>
            <img src="{{product.imageUrl}}" alt="{{product.imageUrl}}">
          </div>
        </ion-col>
      </div>
    </ion-row>
  </ion-grid>
</ion-content>